/* elements */
body {
    font-family: 'Oleo Script', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Serif', serif;
    color: #373835;
}

/* classes */
.bg-image {
    background-image: url(../img/styling/coffeeRing.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    height: 600px;
    margin-top: -10vh;
}

.display-3,.display-5 {
    font-family: 'Oleo Script', cursive;
}

.navbar {
    background-color: #fff;
}

.hero {
    margin-top: 15vh;
}

.custBtn {
    background-color: #f5f5f5;
    box-shadow: 2px 2px 4px hsl(0, 0%, 85%);   
}
.custBtn:hover {
    background-color: #373835;
    color: #f5f5f5;
    transition: 0.7s;
}

.marign-buffer {
    margin-top: 20vh;
}

.cert-card-img-top {
    width: 15rem;
    align-self: center;
}

.skills-card {
    background-color: #f6f5f1;
    max-width: 12rem;
}

.portfolio-card {
    background-color: #f6f5f1;
}

/* ids */
#certifications {
    margin-top: -11vh;
}

/* xl screens */
@media screen and (min-width:1600px) {
    .gl-mobile
        {
        margin-top: 10vh;
        margin-left: -7vh;
    }

    .gl-background {
        height: 80vh;
        width: 45vw;
        position: absolute;
        margin-top: 13vh;
        margin-left: 24vw;
        background-color: #f5f5f5;
        border-radius: 10px;
    }
}

/* large screens */
@media screen and (max-width:1600px) {
    .gl-mobile
        {
        margin-top: 10vh;
        margin-left: -7vh;
    }

    .gl-background {
        height: 70vh;
        width: 45vw;
        position: absolute;
        margin-top: 10vh;
        margin-left: 22vw;
        background-color: #f5f5f5;
        border-radius: 10px;
    }
}

/* medium screens */
@media screen and (max-width:1250px) {
    .gl-mobile
        {
        margin-top: 10vh;
        margin-left: -7vh;
    }

    .gl-background {
        height: 50vh;
        width: 45vw;
        position: absolute;
        margin-top: 10vh;
        margin-left: 20vw;
        background-color: #f5f5f5;
        border-radius: 10px;
    }
}

/* medium screens */
@media screen and (max-width:990px) {
    .gl-mobile
        {
        margin-top: 10vh;
        margin-left: -3vh;
    }
    .gl-background {
        height: 40vh;
        width: 46vw;
        position: absolute;
        margin-top: 19vh;
        margin-left: 24vw;
        background-color: #f5f5f5;
        border-radius: 10px;
    }
}